*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
}
.main-container{
    height:700px ;
    width: 800px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.title-container{
    height:20% ;
    width:80% ;
    /* border:1px solid red; */
    box-shadow: 0px 2px 10px 0px rgba(255, 255, 255, 1);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 70px;
    padding: 10px;

}
.unit-container{
   
    color: white;
    height:10%;
    width:60%;
    margin-top:1em ;
    /* border: 1px solid red; */
    border-radius: 1em;
    box-shadow: 0px 2px 10px 0px rgba(255, 255, 255, 1);
    font-size: 2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
    
}
.unit-container:hover{
    transform: scale(1.03);
}
.units-dropdown{
    position: absolute;
    height:auto;
    width:50%;
    /* border: 1px solid red; */
    display: none;
    margin-top: 7.34em; 
    overflow-y: visible; 
    
}
.btn{
  height: 2em;
  width:50% ;
  margin-bottom: 0.05em;
  border-radius: 0.5em;
  z-index: 5;
}
.btn:hover{
    
}
.body-container{
    height:60% ;
    width:80% ;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly ;
    align-items:center;
    
}
.body-container .from-container{
    height:90% ;
    width:40% ;
    /* border: 1px solid red; */
    box-shadow: 0px 2px 10px 0px rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.5s ease;
}
.body-container .from-container:hover{
    transform: scale(1.03);
}

 .from-button-container{
    height:45% ;
    width:90% ;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.from-button{
    
    color: white;
    border: 1px solid cyan;
    border-radius: 5px;
    height:50%;
    width:80%;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.from-dropdown{
    position: absolute;
    height:auto;
    width:80%;
    /* border: 1px solid red; */
    display: none;
    margin-top: 7em; 
    overflow-y: visible;
    z-index: 5;
}

.button{
    height:1.5em ;
    width: 80%;
    border: 1px solid white;
    border-radius: 5px;
    color: aliceblue;
    background-color: blue;
    font-size: 20px;
    margin: 5px;
}
/* .from-button:hover .from-dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    
} */
button:hover{
    background-color: rgb(87, 87, 217);
}
.from-input-container{
    height:45% ;
    width: 90%;
    /* border: 1px solid red; */
    
     display: flex;
     justify-content: center;
     align-items: center;
}
.from-input{
    height:90% ;
    width: 90%;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 5em;
}

.to-container{
    height:90% ;
    width:40% ;
    /* border: 1px solid red; */
    box-shadow: 0px 2px 10px 0px rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.5s ease;
}
.to-container:hover{
    transform: scale(1.03);
}

.to-button-container{
    height:45% ;
    width:90% ;
    /* border: 1px solid red; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-button{
    color: white;
    border: 1px solid cyan;
    border-radius: 5px;
    height:50%;
    width:80%;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.to-dropdown{
    position: absolute;
    height:auto;
    width:80%;
    /* border: 1px solid red; */
    display: none;
    margin-top: 7em; 
    overflow-y: visible;
    z-index: 5; 
}

/* .to-button:hover .to-dropdown{
    display:flex;
    flex-direction: column;
    align-items: center;
    
} */
.to-input-container{
    height:45% ;
    width: 90%;
    /* border: 1px solid red; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-input{
    height:90% ;
    width: 90%;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 5em;
}